body {
    margin: 50px;
}

.message {
    margin-bottom: 40px;
    color: brown;
}

.textbox {
    margin-top:10px;
    min-height: 100px;
    width: 350px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    cursor: pointer;
}